
# PORT=5000
# // vPy7KSxmHLROagg4
# // tour-management
# # my database-----------
# DB_ATLAS="mongodb+srv://tour-management:vPy7KSxmHLROagg4@cluster0.geiv5ao.mongodb.net/tour-management?retryWrites=true&w=majority"
# NODE_ENV=development